@model IEnumerable<_4204D5_labo9_mvc.Models.VwListeArtiste>

@{
    ViewData["Title"] = "Query 1";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Employés embauchés en 2023</h1>

<p>
    <a asp-action="Index">Index</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Specialite)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prenom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NoTel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Courriel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateEmbauche)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Specialite)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prenom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NoTel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Courriel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateEmbauche)
            </td>
        </tr>
}
    </tbody>
</table>
